@font-face {
  font-family: "Brandon-Text";
  src: url("../fonts/brandon_text_regular.ttf") format("truetype"),
    url("../fonts/brandon_text_regular.woff") format("woff"),
    url("../fonts/brandon_text_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brandon-Text";
  src: url("../fonts/brandon_textmedium.ttf") format("truetype"),
    url("../fonts/brandon_textmedium.woff") format("woff"),
    url("../fonts/brandon_textmedium.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Brandon-Text";
  src: url("../fonts/brandon_textbold.ttf") format("truetype"),
    url("../fonts/brandon_textbold.woff") format("woff"),
    url("../fonts/brandon_textbold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.body {
	color: #4e2575;
	font-family: "Brandon-Text", sans-serif;
}

.row {
  justify-content: center;
}

.header {
	width: 100%;
	height: 70px;
	opacity: 1;
	background: #ededed 0% 0% no-repeat padding-box;
	display: flex;
	vertical-align: middle;
	align-items: center;
}

.header-container {
	width: 100%;
	justify-content: center;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-icon {
	width: 172px;
	height: 25px;
	display: flex;
	justify-content: space-between;
}

.header-phone {
	display: flex;
	align-items: center;
}

.phone-label {
  margin-left: 10px;
}

#create-order {
  background-color: #f48e1f;
  margin-left: 10px;
  border: 0;
  width: 284px;
  height: 55px;
  color: #ffffff;
}

.page-content {
	margin-top: 30px;
	padding-right: 12px;
}

.menu {
	margin-left: 25px;
	padding-right: 20px;
}

.menu a {
  color: #4e2575;
  text-decoration: none;
  font-size: 1.15rem !important;
  font-weight: bold;
}

.img-container {
	position: relative;
	width: 100%;
	margin-top: 20px;
	height: 700px;
}

.text-over-img {
	position: absolute;
	top: 20%;
	right: 0;
	color: #2c2c2c;
	text-align: right;
	margin-right: 100px;
	width: 666px;
	height: 311px;
	font-weight: bold;
	font-size: 4.5rem;
}

.call-you-container {
	position: absolute;
	top: 77%;
	left: 10%;
	border-radius: 20px;
	background-color: #ffffff;
	width: 20%;
	height: 300px;
}

.call-you-form {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 13px;
	flex-direction: column;
}
.call-you-form label {
  font-size: 36px;
  font-weight: bold;
}

.flex-input {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
}

	.flex-input input[type="text"] {
		line-height: 2.5;
		border: 0;
		background-color: #ededed;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

		.flex-input input[type="text"]:focus {
			box-shadow: none;
		}

.round-button {
  width: 100%;
  font-size: 20px;
  background-color: #e9973e;
  height: 49px;
  color: white;
  border: none;
  border-radius: 10px;
}

	.flex-input .input-group-text {
		height: 100%;
		border: 0;
		background-color: #ededed;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

.div-under-image {
	background-color: #4e2575;
	color: white;
	padding-left: 31%;
}

.under-image-header {
  color: #e9973e;
  padding-top: 20px;
  padding-bottom: 10px;
}

.div-under-image span {
	font-weight: bold;
	font-size: 1rem;
}

.div-under-image p {
	font-size: 0.9rem;
}

.span_h2 {
  font-size: 2.1rem;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  color: #551d79;
  font-weight: bold;
  text-align: center;
}

.pricebox-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.repo-title {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.pricebox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricebox-body {
  background-color: #f0f0f0;
  padding: 0.825rem;
  color: #565656;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 278px;
  white-space: nowrap;
}
.pricebox-img {
  height: 300px;
  width: 300px;
  border: 0.1px solid #dddbdb;
  border-radius: 10px;
  padding: 20px;
}

.pricebox-img img {
  width: 100%;
  height: 80%;
}

.repo-property-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 5px;
  margin-right: 50px;
}

.pricebox .price-btn {
  position: relative;
  margin-bottom: 1.5625rem;
}

.pricebox .price-btn span {
  display: inline-block;
  background-color: #551d79;
  padding: 0.3125rem 0.625rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  border: solid 4px #f0f0f0;
  border-radius: 50px;
}

.pricebox .price-btn:after {
  content: "";
  border-bottom: 1px solid #d6d6d6;
  display: block;
  margin-top: -1.0625rem;
}

.alan_hesaplama {
  height: auto;
  padding: 30px 100px 0px 30px;
  width: 80%;
}

.alan_hesaplama .alan_hesaplama_ic {
  height: auto;
  width: 100%;
  display: flex;
}

.alan_hesaplama .alan_hesaplama_ic .ah_gorsel {
  width: 273px;
  height: 273px;
  position: absolute;
  right: 10%;
}

.alan_hesaplama .alan_hesaplama_ic .ah_text {
  flex-grow: 1;
  height: auto;
  padding-left: 20px;
  padding-top: 50px;
}

.alan_hesaplama .alan_hesaplama_ic .ah_text > strong {
  display: block;
  background-color: #f4f4f4;
  color: #2c2c2c;
  font-size: 2.5rem;
  padding-left: 10px;
}

.alan_hesaplama .alan_hesaplama_ic .ah_text > span {
  display: block;
  color: #979797;
  line-height: 22px;
  background-color: #e5e5e5;
  padding: 10px;
  font-size: 18px;
}

.alan_hesaplama .alan_hesaplama_ic .ah_text .ah_link {
  display: inline-block;
  color: #551d79;
  text-decoration: underline;
  background-color: #e5e5e5;
}

.online-order {
  background: #e9973e;
  padding: 40px 0px;
}

.online-order .os_buton {
  width: auto;
  height: auto;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 36px;
  padding: 13px 100px;
  display: table;
  color: #fff;
  margin: 0px auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

.alan_bg {
  background: #f4f4f4;
  border-bottom: solid 1px #e6e6e6;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
}

.buyuk_baslik {
  font-weight: bold;
  font-size: 2.5rem;
}

.moryaziKimkucuk {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.customer-comments{
  border-bottom: solid 1px #e6e6e6;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.musteri_yorumlari .my_alan{
  width: 100%;
  padding: 0 15px;
  height: auto;
  line-height: 24px;
  color: #8b8b8b;
  text-align:center;
  font-size: 1.5rem;
}

.musteri_yorumlari .my_alan > span{
  height: auto;
  display: block;
  text-align:center;
  margin-top: 20px;
  width: 100%;
  color: #111;
  font-weight: bold;
}

.musteri_yorumlari .owl-pagination {
    margin-top:20px;
    z-index: 9999;
    position: relative;
    padding: 0px;
}

@media all and (max-width: 480px) {
	.flex-input {
		flex-direction: column;
	}
}


.pay-complete {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 533px;
	background: #F5F5F5 0% 0% no-repeat padding-box;
	opacity: 1;
	padding:30px;
}
	.pay-complete img {
		width: 218px;
		height: 250px;
	}

.pay-text {
	text-align: center;
	letter-spacing: 0px;
	color: #383838;
	font-weight: bold;
	font-size: 18px;
	width: 80%;
	margin-top: 40px;
	line-height:2.2;
}


.steper {
	padding: 1.875rem 0;
	background: url(../img/step-bg.png) repeat-x;
	background-position: 50% 50%;
	margin-bottom: 1.875rem;
}


.under-header {
	top: 222px;
	left: 341px;
	width: 1240px;
	height: 49px;
	/* UI Properties */
	background: #4E2575 0% 0% no-repeat padding-box;
	opacity: 1;
	color: white !important;
	font-size: 20px;
}
/* Step Nav */
.step-nav {
	padding: 20px 0;
	background-position: 50% 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 534px;
}
.step-line {
	position:absolute;
	width:3px;
	height:504px;
	background: #E5E5E5 0% 0% no-repeat padding-box;
}

	.step-nav:after {
		content: " ";
		display: table;
		clear: both;
	}

	.step-nav.step-2 .step {
		width: 50%;
	}

	.step-nav.step-3 .step {
		width: 33.33%;
		height: 33.33%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.step-nav.step-4 .step {
		width: 25%;
	}

	.step-nav.step-5 .step {
		width: 20%;
	}

	.step-nav .step {
		float: left;
		text-align: center;
		line-height: 40px;
		font-size: 1.5625rem;
		position: relative;
	}

		.step-nav .step.active span:before {
			background-color: #F7931D;
		}
		.step-nav .step.active span:after {
			background-color: #F7931D;
		}

		.step-nav .step span {
			display: inline-block;
			width: 40px;
			height: 40px;
			color: white;
			font-weight: 700;
			position: relative;
			z-index: 1;
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: default;
		}

			.step-nav .step span:before {
				content: "";
				position: absolute;
				width: 50px;
				height: 50px;
				z-index: -2;
				background-color: #e2e2e2;
				left: -5px;
				top: -5px;
			}

			.step-nav .step span:after {
				content: "";
				position: absolute;
				width: 40px;
				height: 40px;
				left: 0;
				top: 0;
				z-index: -1;
			}

		.step-nav .step .step-desc {
			position: absolute;
			width: 100%;
			left: 0;
			top: 45px;
			font-size: 1rem;
			margin: 0;
			line-height: 1.3;
		}
