<div class="body">
  <div class="header">
    <div class="row header-container">
      <div class="col-md-9 header-nav">
        <div class="social-icon">
          <img src="../assets/icons/001-twitter-black-shape.png" />
          <img src="../assets/icons/007-linkedin-1.png" />
          <img src="../assets/icons/002-facebook-letter-logo.png" />
          <img src="../assets/icons/010-instagram.png" />
        </div>

        <div class="header-phone">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
          </svg>
          <label class="phone-label">444 93 83</label>
          <button id="create-order">Sipariş Oluştur</button>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-md-9 header-nav">
        <div class="logo">
          <a href="https://www.edepola.com/" class="inline-block pad-v-15">
            <img src="https://www.edepola.com/img/edepola.svg" width="222" height="52" alt="edepola.com">
          </a>
        </div>
        <div class="menu">
          <a href="https://www.edepola.com/siparis.html" title="Sipariş Ver">
            Depolama Çeşitleri
            <i class="icon fa fa-angle-down"></i>
          </a>
          <a href="https://www.edepola.com/siparis.html" title="Sipariş Ver">
            Kampanyalar
            <i class="icon fa fa-angle-down"></i>
          </a>
          <a href="https://www.edepola.com/siparis.html" title="Sipariş Ver">
            edepola.com Nedir?
            <i class="icon fa fa-angle-down"></i>
          </a>
          <a href="https://www.edepola.com/siparis.html" title="Sipariş Ver">
            Depolama Çeşitleri
            <i class="icon fa fa-angle-down"></i>
          </a>
          <a href="https://www.edepola.com/siparis.html" title="Sipariş Ver">
            Hakkımızda
            <i class="icon fa fa-angle-down"></i>
          </a>
          <a href="https://www.edepola.com/siparis.html" title="Sipariş Ver">
            Blog
            <i class="icon fa fa-angle-down"></i>
          </a>
          <a href="https://www.edepola.com/siparis.html" title="Sipariş Ver">
            İletişim
            <i class="icon fa fa-angle-down"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="img-container">
        <img src="../assets/img/slider-desktop.jpg" style="width: 100%;height: 100%;object-fit: fill;">
        <div class="text-over-img">27.000 Alanı ile Avrupanın En Büyük Kişisel Eşya Deposu</div>
        <div class="call-you-container">
          <form action="" class="call-you-form">
            <label style="margin-bottom: 15px;">Sizi Arayalım</label>
            <div class="flex-input">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="İsim" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="icon fa fa-user"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="flex-input">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Telefon Numarası"
                  aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-mobile"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="flex-input">
              <div class="input-group">
                <button>
                  SEND NOW
                  <i class="fa fa-arrow-right"></i>
                </button>
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>
    <div class="row div-under-image">
      <div class="under-image-header">
        <label>3 ADIMDA EŞYALARINIZI DEPOLAYIN</label>
      </div>
    </div>
  </div>
</div>
